# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Android related
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS/macOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
ios/.symlinks/
ios/profile
ios/xcuserdata/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
macos/Pods/

# Windows/Linux related
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Web related
web/.dart_tool/

# Firebase/Google services (mantén solo el tuyo real si es necesario)
**/google-services.json
**/GoogleService-Info.plist

# Miscellaneous
*.log
*.tmp
*.swp
*.swo
*.DS_Store

